.item {
	margin-top: 30px;
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.icon {
	fill: var(--primary-color);
}

.link {
	opacity: 0;
	transition: 0.2s opacity;
	width: 0;
}

.collapsed {
	.link {
		width: 100%;
		margin-left: 10px;
		opacity: 1;
	}
}
