.BIG {
	.card {
		margin-bottom: 30px;
	}
}

.SMALL {
	display: flex;
	flex-wrap: wrap; // перенос на другую линию
	justify-content: center;

	.card {
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
