:root,
.app_dark_theme {
	--bg-color: rgb(27 27 27);
	--inverted-bg-color: rgb(226 186 255);
	--primary-color: rgb(255 0 0);
	--secondary-color: rgb(245 101 255);
	--inverted-primary-color: rgb(0 255 60);
	--inverted-secondary-color: rgb(4 255 222);

	// skeleton
	--skeleton-color: #ad1515;
	--skeleton-shadow: #e82b2b;

	// code
	--code-bg: #a11212;

	// card
	--card-bg: rgb(27 27 27);
}