.MainLayout {
	min-height: 100%;
	display: grid; // сетка
	grid-template-areas: 'sidebar content rightbar'; // зоны
	grid-template-columns: min-content 1fr 100px; // длина под sidebar, content (1 фракция), rightbar // min-content дать больше места для content
}

// зоны
.sidebar {
	// justify-self: center;
	grid-area: sidebar;
	padding: 32px;
	max-width: 284px;
}

.content {
	grid-area: content;
	max-width: 1440px;
	justify-self: center;
	padding: 32px;
	width: 100%;
}

.rightbar {
	grid-area: rightbar;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.rightbar,
.sidebar {
	position: sticky;
	top: 0;
	height: 100vh;
}

.toolbar {
	height: 100%;
}
