.MainLayout {
	min-height: 100%;
	display: grid; // сетка
	grid-template-areas: 'sidebar content rightbar'; // зоны
	grid-template-columns: 284px 1fr 176px; // длина под sidebar, content (1 фракция), rightbar
}

// зоны
.sidebar {
	// justify-self: center;
	grid-area: sidebar;
	padding: 32px;
}

.content {
	grid-area: content;
	max-width: 1200px;
	justify-self: center;
	padding: 32px;
	width: 100%;
}

.rightbar {
	grid-area: rightbar;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.rightbar,
.sidebar {
	position: sticky;
	top: 0;
	height: 100vh;
}

.toolbar {
	height: 100%;
}
