.ArticleDetailsPage {
	margin: 1px;
}

.commentTitle {
	margin-top: 20px;
}

.recommendations {
	margin-top: 20px;
	flex-wrap: nowrap; // без переносов
	overflow-y: hidden;
	overflow-x: auto; // скролл по х
}
