.navbar {
	width: 100%;
	background: var(--inverted-bg-color);
	display: flex;
	align-items: center;
	padding: 20px;
	height: var(--navbar-height);
}

.links {
	margin-left: auto;
}

.link {
	margin-right: 15px;
}

.appName {
	width: var(--sidebar-width);
	margin-left: 15px;
	margin-right: 15px;
}

